<div class="footer">

	<a href="#">About Us</a>
	<a href="contactus.html">Contact Us</a>
	<a href="#">Our Team</a>
	<a href="#">Site Map</a>
	<br><br>
	<p>2018 T-S-T Private Limited. All rights reserved.</p>
</div>
